body {
	background-color: #B3BCCC;
}

input[type=button] {
	border-color: #8A95CE;
	border-style: solid;
}

input[type=submit] {
	border-color: #8A95CE;
	border-style: solid;
}

.InputText {
	width: 310px;
}

#InputTextRead {
	background-color: #D6D6D6;
	border-color: #8A95CE;
	border-style: solid;
}

#InputTextWrite {
	border-color: #8A95CE;
	border-style: solid;
}

.InputLogin {
	border-color: #8A95CE;
	border-style: solid;
	color: white;
}

#FormMessager {
	display: none;
}

#TextShownWrapper {
	display: none;
}

#UserName {
	margin-left: 15px;
}

.ElementIndentation {
	margin-left: 15px;
}

#DivUpdateBar {
	position: relative;
	top: -2px;
	width: 310px;
	height: 2px;
	background-color: #3244FF;
	margin-bottom: 5px;
}